* {
    padding: 0;
    margin: 0;
    border: 0;
}

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

    input::-ms-clear {
        display: none;
    }

button {
    cursor: pointer;
}

    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

a, a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}



.image_1{
 
    background:url('G:/webs/Dark/Weapons/images/gungnir.jpg') 0 0 no-repeat;
    background-size:cover;

    margin-top:30px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-radius:10px;

    width:700px;
    height:500px;


    transition:all 1s ease 0s;
}
.image_2{
 
    background:url('G:/webs/Dark/Weapons/images/gleipnir.jpg') 0 0 no-repeat;
    background-size:cover;

    margin-top:30px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-radius:10px;

    width:700px;
    height:500px;


    transition:all 1s ease 0s;
}

.image_3{
 
    background:url('G:/webs/Dark/Weapons/images/mjolnir.jpg') 0 0 no-repeat;
    background-size:cover;

    margin-top:30px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-radius:10px;

    width:400px;
    height:640px;


    transition:all 0.5s ease 0s;
}

.image_4{
 
    background:url('G:/webs/Dark/Weapons/images/skofnung.jpg') 0 0 no-repeat;
    background-size:cover;

    margin-top:30px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-radius:10px;

    width:600px;
    height:440px;


    transition:all 0.5s ease 0s;
}

.image_5{
 
    background:url('G:/webs/Dark/Weapons/images/angurvadal.jpg') 0 0 no-repeat;
    background-size:cover;

    margin-top:30px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-radius:10px;

    width:600px;
    height:240px;


    transition:all 0.5s ease 0s;
}

b{
    font-size:30px;
}

.big_text{
    margin-top:20px;

    border:5px solid darkred;
    text-align:center;

    text-shadow:2px 2px 5px black;

    font-size:35px;
    font-family:Norse;
    color:snow;
    font-weight:700;

    background-color:darkred;
    border-radius:15px;
    
}


.text{
    word-spacing:4px;

    margin-top:30px;
    text-indent:50px;

    color:snow;
    font-size:25px;
    font-family:Norse;

    transition:all 0.5s ease 0s;
}

.text_1{
    word-spacing:4px;

    margin-top:30px;
    text-indent:50px;

    color:snow;
    font-family:Norse;

    background-color:indianred;
    border-radius:10px;

    font-size:30px;
}

.text_anim{
    word-spacing:4px;

    margin-top:30px;
    text-indent:50px;

    color:snow;
    font-size:25px;
    font-family:Norse;

    transition:all 0.5s ease 0s;
}

.text_anim:hover{
    transition:all 0.5s ease 0s;


    background-color:indianred;
    border-radius:10px;

    font-size:30px;

    
}

mark{
    border:3px solid darkred;
    border-radius:3px;

    background-color:darkred;  
    font-size:27px;
    color:snow;

    font-style:italic;

    transition:all 0.5s ease 0s;
}



.image_1:hover{
    
    border:3px solid snow;

    transition:all 2s ease 0s;

    width:750px;
    height:550px;
}

.image_2:hover{
    
    border:3px solid black;

    transition:all 2s ease 0s;

    width:800px;
    height:600px;
}
.image_3:hover{
    
    box-shadow:2px 2px 4px lightblue;

    transition:all 1s ease 0s;

    width:540px;
    height:780px;
}

.image_4:hover{
    
    box-shadow:2px 2px 4px red;

    transition:all 1s ease 0s;

    width:640px;
    height:480px;
}

.image_5:hover{
    
    box-shadow:2px 2px 4px red;

    transition:all 1s ease 0s;

    width:660px;
    height:300px;
}


mark:active{
    border:3px solid aqua;

    background-color:aqua;
    color:black;
}


body {
    background: url('G:/webs/Dark/Dark/images/bg.jpg') 0 0/cover no-repeat fixed;
    padding: 10px;

    position:relative;
    height:auto;
    
}
.notes{
text-align:center;

}


body h1 {
    background: url('G:/webs/Dark/Gods/images/pattern_line.jpg') 0 0  no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 10px;
    min-height: 56px;
    font-family: Norse-Bold;
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px 10px black;
    margin: 0 0 4px 0;   

    transition: all 0.5s ease 0s;
}

    body h1:hover {
        color:snow;

        transition: all 1s ease 0s;
        background: url('G:/webs/Dark/Gods/images/pattern_line_2.jpg') 0 0 no-repeat;
        background-size: cover;
        background-position: center;
    }


.link{
    color:black;
}

.notes {
    position: sticky;
    top: 0px;
}

.notes span{
    display: inline-block;
    background-color: rgba(210, 54, 23, 0.5);
    font-family:Norse;
    width:180px;


    border-radius:10px;
    padding: 10px;
    font-size: 45px;
    color: snow;
    margin:2px 30px 0px 1px;

 


    transition: all 0.5s ease 0s;



}
    .notes span:hover {
        transition:all 1s ease 0s;

        background-color: rgba(210, 54, 23, 1);
        color:black;
        width:200px;

    }


  

    
    .weapons{
        padding:20px 0px;
        text-align:center;
        font-size:50px;
        font-family:Norse-Bold;
        color:snow;

        transition:all 0.5s ease 0s;
    }
        .weapons:hover {
            transition:all 1s ease 0s;

            font-size: 70px;

        }



@font-face {
    font-family: Norse-Bold;
    src: url('G:/webs/Dark/Dark/fonts/NorseBold-2Kge.otf') format("truetype");

}
@font-face {
    font-family:Norse;
    src: url('G:/webs/Dark/Dark/fonts/Norse-KaWl.otf') format("truetype");
}
